*{
    color: yellow;
}
body{
    background-color: rgb(0, 0, 0);
    color: yellow;
    font-family: MV boli;
}
.back{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 10px;
    font-family: MV boli;
}
.base{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border: none;
    width: 400px;
    align-items: center;
    animation: ani 1.2s 1;
}
@keyframes ani{0%{opacity: 0;}
100%{opacity: 1;}}
img{
    display: block;
}
.email,.password{
    display: block;
    width: 350px;
    margin-left: 23px;
    margin-top: 10px;
    height: 40px;
    border: none;
    border-bottom: 2px solid yellow;
    border-radius: 3px;
    outline: none;
    font-family: MV boli;
    background-color: transparent;
    font-size: 14px;
    
}
::-webkit-input-placeholder{
    color: yellow;
    opacity: 0.8;
}
#login{
    color: yellow;
    display: block;
    text-decoration: none;

    width: 100%;
    height: 100%;
}

p{
    text-align: center;
    opacity: 0.8;
    margin-top: 5px;
    font-size: 12px;
}

button:hover{
    background-color: black;
    cursor: pointer;
    border-radius: 12px;

    color: yellow;
}
button:active{
    opacity: 0.6;
    border-radius: 12px;

}
img{
    width: 100px;
    margin: auto;
}
.login{
    background-color: yellow;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    width: 270px;
    border: 3px solid yellow;
    height: 30px;
    border-radius: 20px;
    transition: background-color 0.3s;
}
#login{
    display: block;
    color: black;
    width: 100%;
    transition: color 0.3s;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 0;
    font-weight: bolder;
}
.login:hover, #login:hover{
    border-radius: 15px;
    background-color: black;
    color: yellow;
}
.login:active{
    opacity: 0.6;
    border-radius: 15px;

}
#cancel{
    color: yellow;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.cancel{
    background-color: rgb(0, 0, 0);
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    width: 70px;
    border: 3px solid yellow;
    height: 30px;
    border-radius: 20px;
    transition: opacity 0.4s;
}
.cancel:hover{
    opacity: 0.8;
    border-radius: 15px;
}
.cancel:active{
    opacity: 0.6;
    border-radius: 15px;

}
a{

    font-size: 15px;
}
@media (max-width: 767px) {
    .base,.email,.password{
        width: 300px;
        margin: auto;
    }
    .login{
        width: 210px;
    }
    .email,.password{
        margin-bottom: 10px;
    }

}